<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <h2>Article Detail</h2>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="vm.article$ | async as article; else noArticle">
    <h1>{{ article.title }}</h1>
    <p>
      <ion-text color="tertiary">
        {{ article.pubDate | date:'medium' }}
        <span *ngIf="article.creator"> • By {{ article.creator }}</span>
      </ion-text>
    </p>
    <ion-card>
      <ion-card-content>
        <div [innerHTML]="article.description"></div>
      </ion-card-content>
    </ion-card>
    <a expand="block" [href]="article.link" target="_blank" color="medium">
      Read Full Article
    </a>
  </ng-container>
  <ng-template #noArticle>
    <ion-text color="danger">
      <p>Article not found.</p>
    </ion-text>
  </ng-template>
</ion-content>
