<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/feed-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Article Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="vm.article$ | async as article; else noArticle">
    <h1>{{ article.title }}</h1>
    <p>{{article.author}}, {{ article.publishDate | date }}</p>
    <div [innerHTML]="article.content"></div>
  </ng-container>
  <ng-template #noArticle>
    <p>Article not found.</p>
  </ng-template>
</ion-content>
