<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <h2>Followed feeds</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="vm.searchTerm"
                 (ionChange)="vm.updateSearchTerm(vm.searchTerm)">
  </ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let feed of feeds$ | async">
      <a [href]="feed.url" target="_blank" rel="noopener noreferrer">
        {{ feed.name }}
      </a>
      <ion-button (click)="presentUpdateDelFeed(feed)">
        <ion-icon vertical="bottom" name="ellipsis-horizontal-outline" fill="clear"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAddFeedAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
