<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Readr
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/feed-list">Followed feeds</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Recent Articles</h2>
  <ng-container *ngIf="recentArticles$ | async as articles">
    <app-article-preview *ngFor="let article of articles" [article]="article"></app-article-preview>
  </ng-container>
</ion-content>
