// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #A64CFF;
  --ion-color-primary-rgb: 166,76,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #9243e0;
  --ion-color-primary-tint: #af5eff;

  --ion-color-secondary: #FF6B35;
  --ion-color-secondary-rgb: 255,107,53;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e05e2f;
  --ion-color-secondary-tint: #ff7a49;

  --ion-color-tertiary: #D18EFF;
  --ion-color-tertiary-rgb: 209,142,255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #b87de0;
  --ion-color-tertiary-tint: #d699ff;

  --ion-color-success: #2DD881;
  --ion-color-success-rgb: 45,216,129;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #28be72;
  --ion-color-success-tint: #42dc8e;

  --ion-color-warning: #FFC13B;
  --ion-color-warning-rgb: 255,193,59;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0aa34;
  --ion-color-warning-tint: #ffc74f;

  --ion-color-danger: #FF5964;
  --ion-color-danger-rgb: 255,89,100;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #e04e58;
  --ion-color-danger-tint: #ff6a74;

  --ion-color-light: #F7EDE2;
  --ion-color-light-rgb: 247,237,226;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d9d1c7;
  --ion-color-light-tint: #f8efe5;

  --ion-color-medium: #B19CD9;
  --ion-color-medium-rgb: 177,156,217;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #9c89bf;
  --ion-color-medium-tint: #b9a6dd;

  --ion-color-dark: #2E0054;
  --ion-color-dark-rgb: 46,0,84;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #28004a;
  --ion-color-dark-tint: #431a65;
}

ion-title {
  font-family: 'Compagnon-Italic', cursive;
  font-size: 2em;
  font-weight: 600; /* Makes the font bolder */
  background: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; /* Ensures the gradient applies correctly */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* Optional: adds a subtle shadow for depth */
}

@font-face {
  font-family: 'Compagnon-Roman';
  src: url('../assets/fonts/Compagnon-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Compagnon-Italic';
  src: url('../assets/fonts/Compagnon-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
