// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #99ffcf;
	--ion-color-primary-rgb: 153,255,207;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #87e0b6;
	--ion-color-primary-tint: #a3ffd4;

	--ion-color-secondary: #e7beff;
	--ion-color-secondary-rgb: 231,190,255;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #cba7e0;
	--ion-color-secondary-tint: #e9c5ff;

	--ion-color-tertiary: #5500ff;
	--ion-color-tertiary-rgb: 85,0,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #4b00e0;
	--ion-color-tertiary-tint: #661aff;

	--ion-color-success: #2dd5bb;
	--ion-color-success-rgb: 45,213,187;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bba5;
	--ion-color-success-tint: #42d9c2;

	--ion-color-warning: #ffc4bb;
	--ion-color-warning-rgb: 255,196,187;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0aca5;
	--ion-color-warning-tint: #ffcac2;

	--ion-color-danger: #c500bb;
	--ion-color-danger-rgb: 197,0,187;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad00a5;
	--ion-color-danger-tint: #cb1ac2;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #00000;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;
}

ion-title {
  font-family: 'Compagnon-Italic', cursive;
  font-size: 2em;
  }

@font-face {
  font-family: 'Compagnon-Roman';
  src: url('../assets/fonts/Compagnon-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Compagnon-Italic';
  src: url('../assets/fonts/Compagnon-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
