<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zephyrss
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/feed-list">Followed feeds</ion-button>
    </ion-buttons>
    <app-install-prompt>Install prompt</app-install-prompt>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Recent Articles</h2>
  <ng-container *ngIf="recentArticles$ | async as recentArticles">
    <app-article-preview
      *ngFor="let article of recentArticles"
      [article]="article">
    </app-article-preview>
  </ng-container>
</ion-content>
