<ion-header>
  <ion-toolbar>
    <ion-title>Feed List</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="vm.searchTerm"
                 (ionChange)="vm.updateSearchTerm(vm.searchTerm)">
  </ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let feed of vm.feeds$ | async">
      {{ feed.title }}
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAddFeedAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
